#creator-wallet {
    padding: 0px !important;
    width: fit-content;
}

.dashboard-bottom-navbar {
    background: rgb(239, 239, 244);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dashboard-bottom-navbar .ant-flex{
    padding: 8px 0px 28px 0px;
    flex: 1;
}

.selected-menu {
    color: #692DF6
}


#floating-btn {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    background: #692DF6;
    box-shadow: 0px 2px 24px 0px rgba(105, 45, 246, 0.48);
    border: none;
}