html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff8dc;
  overflow: hidden;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

video {
  pointer-events: none;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}