/* Home.css */
body {
    margin: 0 !important;
    box-sizing: border-box;
}

.home-container {
  margin: 60px auto;
  padding: 24px;
  background-color: #a59696;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 100vh;
}

.home-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 16px;
}

.home-container p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}
.ant-modal-body{
  height: 400px;
}
